#container {
    border: 3px solid black;
    display: flex;
}

#book-template {
    border: 3px solid seagreen;
}

[id^="book-template-"] {
    border: 3px solid green;
}

#read {
    color: burlywood;
}

#button-container {
    border: 3px solid black;
}